<%= form_with(model: admin_hobby, local: true) do |form| %>
  <% if admin_hobby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_hobby.errors.count, "error") %> prohibited this admin_hobby from being saved:</h2>

      <ul>
      <% admin_hobby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
