<p id="notice"><%= notice %></p>

<h1>Admin Hobbies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
      <th>Status</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_hobbies.each do |admin_hobby| %>
      <tr>
        <td><%= admin_hobby.name %></td>
        <td><%= admin_hobby.icon %></td>
        <td><%= admin_hobby.status %></td>
        <td><%= admin_hobby.user %></td>
        <td><%= link_to 'Show', admin_hobby %></td>
        <td><%= link_to 'Edit', edit_admin_hobby_path(admin_hobby) %></td>
        <td><%= link_to 'Destroy', admin_hobby, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Hobby', new_admin_hobby_path %>
