<p id="notice"><%= notice %></p>

<h1>Admin Skills</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_skills.each do |admin_skill| %>
      <tr>
        <td><%= admin_skill.name %></td>
        <td><%= admin_skill.description %></td>
        <td><%= link_to 'Show', admin_skill %></td>
        <td><%= link_to 'Edit', edit_admin_skill_path(admin_skill) %></td>
        <td><%= link_to 'Destroy', admin_skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Skill', new_admin_skill_path %>
