<%= form_with(model: admin_education, local: true) do |form| %>
  <% if admin_education.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_education.errors.count, "error") %> prohibited this admin_education from being saved:</h2>

      <ul>
      <% admin_education.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :school_id %>
    <%= form.text_field :school_id %>
  </div>

  <div class="field">
    <%= form.label :degree %>
    <%= form.text_field :degree %>
  </div>

  <div class="field">
    <%= form.label :graduation_year %>
    <%= form.date_select :graduation_year %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
