<p id="notice"><%= notice %></p>

<h1>Admin Educations</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Degree</th>
      <th>Graduation year</th>
      <th>Description</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_educations.each do |admin_education| %>
      <tr>
        <td><%= admin_education.school %></td>
        <td><%= admin_education.degree %></td>
        <td><%= admin_education.graduation_year %></td>
        <td><%= admin_education.description %></td>
        <td><%= admin_education.address %></td>
        <td><%= link_to 'Show', admin_education %></td>
        <td><%= link_to 'Edit', edit_admin_education_path(admin_education) %></td>
        <td><%= link_to 'Destroy', admin_education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Education', new_admin_education_path %>
