<%= form_with(model: admin_domain, local: true) do |form| %>
  <% if admin_domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_domain.errors.count, "error") %> prohibited this admin_domain from being saved:</h2>

      <ul>
      <% admin_domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.number_field :parent_id %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
