<% content_for :dashboard_content do %>
  <div class="card">
    <div class="card-header card-header-primary">
      <p id="notice"><%= notice %></p>
      <h3>Companies</h3>
    </div>
    <div class="card-body">
      <%= link_to 'Add a company', new_admin_company_path, class: 'btn btn-primary' %>
      <table id="companies-dt" class="table table-bordered table-striped" width="100%" data-source="<%= admin_companies_path(format: :json) %>">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Domain</th>
            <th>Status</th>
            <th>Exist since</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
        <!--<tbody>
          <%# @admin_companies.each do |admin_company| %>
            <tr>
              <td><%#= admin_company.name %></td>
              <td><%#= admin_company.description %></td>
              <td><%#= admin_company.legal_status %></td>
              <td><%#= admin_company.address %></td>
              <td><%#= admin_company.domain_id %></td>
              <td><%#= admin_company.status %></td>
              <td><%#= admin_company.exist_since %></td>
              <td><%#= link_to 'Show', admin_company %></td>
              <td><%#= link_to 'Edit', edit_admin_company_path(admin_company) %></td>
              <td><%#= link_to 'Destroy', admin_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%# end %>
        </tbody>-->
      </table>
<br>
<%= link_to 'New Admin Company', new_admin_company_path %>
    </div>
  </div>
  <% end %>
<%= render template: 'layouts/material_dashboard' %>