<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_experience.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @admin_experience.company %>
</p>

<p>
  <strong>User:</strong>
  <%= @admin_experience.user %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_experience.description %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @admin_experience.started_at %>
</p>

<p>
  <strong>Ended at:</strong>
  <%= @admin_experience.ended_at %>
</p>

<p>
  <strong>Still there:</strong>
  <%= @admin_experience.still_there %>
</p>

<p>
  <strong>Status:</strong>
  <%= @admin_experience.status %>
</p>

<%= link_to 'Edit', edit_admin_experience_path(@admin_experience) %> |
<%= link_to 'Back', admin_experiences_path %>
