<ul class="nav">
  <li class="nav-item ">
    <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
      <i class="material-icons">view_quilt</i>
      <span> Resumes<b class="caret"></b></span>
    </a>
    <div class="collapse" id="pagesExamples">
      <ul class="nav">
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_resumes_path %>">Resumes</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_languages_path %>">Languages</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_languages_path %>">Languages</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item ">
    <a class="nav-link" data-toggle="collapse" href="#componentsExamples">
      <i class="material-icons">apps</i>
      <span> Templates<b class="caret"></b></span>
    </a>
    <div class="collapse" id="componentsExamples">
      <ul class="nav">
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_domains_path %>">Domains</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_templates_path %>">Templates</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_companies_path %>">Companies</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_countries_path %>">Countries</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item ">
    <a class="nav-link" data-toggle="collapse" href="#formsExamples">
      <i class="material-icons">person</i>
      <span> Users<b class="caret"></b></span>
    </a>
    <div class="collapse" id="formsExamples">
      <ul class="nav">
        <li class="nav-item ">
          <a class="dropdown-item" href="<%= admin_users_path %>">Users</a>
        </li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_achievements_path  %>">Achievements</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_awards_path  %>">Awards</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_educations_path %>">Educations</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_experiences_path %>">Experiences</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_hobbies_path %>">Hobbies</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_schools_path %>">Schools</a></li>
        <li class="nav-item"><a class="dropdown-item" href="<%= admin_skills_path %>">Skills</a></li>
      </ul>
    </div>
  </li>
</ul>