<ul class="navbar-nav">
  <!--<li class="nav-item">
    <a class="nav-link" href="./dashboard.html">
      <i class="material-icons">dashboard</i>
      <p>Dashboard</p>
    </a>
  </li>-->
  <li class="nav-item active-pro">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

      <p><i class="material-icons">settings</i> Settings</p>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="<%= admin_templates_path %>">Template</a>
      <a class="dropdown-item" href="<%= admin_countries_path %>">Countries</a>
      <a class="dropdown-item" href="<%= admin_languages_path %>">Languages</a>
      <a class="dropdown-item" href="<%= admin_companies_path %>">Companies</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
  <li class="nav-item active-pro">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      <p> <i class="material-icons">show_chart</i> Stats</p>
    </a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="<%= admin_users_path %>">Users</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
    </div>
  </li>
</ul>
