<div class="wrapper ">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="<%= image_url "img/sidebar-1.jpg" %>">
    <div class="logo">
      <a href="<%= root_path %>" class="simple-text logo-normal"><%= current_user.name %></a>
    </div>
    <div class="sidebar-wrapper">
      <%= render partial: '/layouts/admin-sidebar' %>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
      <%= render partial: '/layouts/admin-navbar' %>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <%= yield(:dashboard_content) %>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="https://creative-tim.com/presentation">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
            <li>
              <a href="https://www.creative-tim.com/license">
                Licenses
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          &copy;
          <script>
              document.write(new Date().getFullYear())
          </script>, made with <i class="material-icons">favorite</i> by
          <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a> for a better web.
        </div>
      </div>
    </footer>
  </div>
</div>
