<%= form_with(model: admin_award, local: true) do |form| %>
  <% if admin_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_award.errors.count, "error") %> prohibited this admin_award from being saved:</h2>

      <ul>
      <% admin_award.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="field col-md-6">
    <div class="fom-group bmd-form-group">
      <%= form.label :user_id, class: "bmd-label-floating" %>
      <%= form.text_field :user_id, class: "form-control" %>
    </div>
  </div>

  <div class="field col-md-6">
    <div class="fom-group bmd-form-group">
      <%= form.label :title, class: "bmd-label-floating" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <div class="field col-md-6">
    <div class="fom-group bmd-form-group">
      <%= form.label :description, class: "bmd-label-floating" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="field col-md-6">
    <div class="fom-group bmd-form-group">
      <%= form.label :date, class: "bmd-label-floating" %>
      <%= form.date_select :date,{},{class: "form-control"} %>
    </div>
  </div>
</div>
  <div class="actions">
    <%= form.submit "save", :class => "btn btn-primary" %>
  </div>
<% end %>
